/* Theme's css */
#header {
	margin-top: 20px
}

#page-container {
	margin-bottom: 20px
}

#url-rewriting-warning {
	display: none
}

#calendar {
	margin : 10px;
}

/* Fix select alignment in event form */
.time-input .input .form-control {
	margin: 0px 5px 0px 5px;
	width: 15%;
}

.time-input select {
	display: inline;
}

.time-input label {
	display: block;
}

/* Add a small delimiter in menu */
.navbar-brand {
	border-right: 1px solid #eaeaea;
}

#airCalendarLoginForm h2 {
    background: url('/air-calendar-admin/img/air-calendar_logo.png') no-repeat scroll left center transparent;
    padding-top: 10px;
    padding-left: 55px;
    margin-bottom: 20px;
}
