<?php
/**
 *
 * PHP 5
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link http://cakephp.org CakePHP(tm) Project
 * @package Cake.Console.Templates.default.views
 * @since CakePHP(tm) v 1.2.0.5234
 * @license MIT License (http://www.opensource.org/licenses/mit-license.php)
 */
?>

<div id="page-container" class="row">

	<div id="sidebar" class="col-sm-3">
		
		<div class="actions">
		
			<ul class="list-group">
<?php
	if (strpos($action, 'add') === false) {
		echo "\t\t\t\t<li class=\"list-group-item\"><?= \$this->Form->postLink(__('Delete'), array('action' => 'delete', \$this->Form->value('{$modelClass}.{$primaryKey}')), null, __('Are you sure you want to delete # %s?', \$this->Form->value('{$modelClass}.{$primaryKey}'))); ?></li>\n";
	}
    
    echo "\t\t\t\t<li class=\"list-group-item\"><?= \$this->Html->link(__('List " . $pluralHumanName . "'), array('action' => 'index')); ?></li>\n";
	
	$done = array();
	foreach ($associations as $type => $data) {
		foreach ($data as $alias => $details) {
			if ($details['controller'] != $this->name && !in_array($details['controller'], $done)) {
				echo "\t\t\t\t<li class=\"list-group-item\"><?= \$this->Html->link(__('List " . Inflector::humanize($details['controller']) . "'), array('controller' => '{$details['controller']}', 'action' => 'index')); ?> </li>\n";
				echo "\t\t\t\t<li class=\"list-group-item\"><?= \$this->Html->link(__('New " . Inflector::humanize(Inflector::underscore($alias)) . "'), array('controller' => '{$details['controller']}', 'action' => 'add')); ?> </li>\n";
				$done[] = $details['controller'];
			}
		}
	}
?>
			</ul><!-- /.list-group -->
		
		</div><!-- /.actions -->
		
	</div><!-- /#sidebar .col-sm-3 -->
	
	<div id="page-content" class="col-sm-9">

		<h2><?php printf("<?= __('%s %s'); ?>", Inflector::humanize($action), $singularHumanName); ?></h2>

		<div class="<?= $pluralVar; ?> form">
		
			<?= "<?= \$this->Form->create('{$modelClass}', array('role' => 'form')); ?>\n"; ?>

				<fieldset>

<?php
	foreach ($fields as $field) {
		if (strpos($action, 'add') !== false && $field == $primaryKey) {
			continue;
		} elseif (!in_array($field, array('created', 'modified', 'updated'))) {
			echo "\t\t\t\t\t<div class=\"form-group\">\n";
			echo "\t\t\t\t\t\t<?= \$this->Form->input('{$field}', array('class' => 'form-control')); ?>\n";
			echo "\t\t\t\t\t</div><!-- .form-group -->\n";
		}
	}
	if (!empty($associations['hasAndBelongsToMany'])) {
		foreach ($associations['hasAndBelongsToMany'] as $assocName => $assocData) {
			echo "\t\t\t\t\t<div class=\"form-group\">\n";
			echo "\t\t\t\t\t\t\t<?= \$this->Form->input('{$assocName}');?>\n";
			echo "\t\t\t\t\t</div><!-- .form-group -->\n";
		}
	}
	echo "\n";
	echo "\t\t\t\t\t<?= \$this->Form->submit('Submit', array('class' => 'btn btn-primary')); ?>\n";
?>

				</fieldset>

<?= "\t\t\t<?= \$this->Form->end(); ?>\n";?>

		</div><!-- /.form -->
			
	</div><!-- /#page-content .col-sm-9 -->

</div><!-- /#page-container .row-fluid -->