
<div
	id="page-container" class="row">

	<div id="page-content" class="col-sm-12">

		<h2>
			<?= __('Home'); ?>
		</h2>
		
		

	</div>
	<!-- /#page-content .col-sm-12 -->

</div>
<!-- /#page-container .row-fluid -->
